# This tells Git to ignore everything in the project
*

# These are exception rules. They tell Git NOT to ignore files with these extensions.
# Use these for your source code files.
!*.cpp
!*.h
!*.hpp

# This rule is needed to allow directories to be seen by git status.
# Without it, git will not see new folders if they only contain ignored files.
!*/